[Desktop Entry]
Name=Qt_DAB-6.8
Exec=qt-dab-6.8
Icon=qt-dab-6.8
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
