.qmake.stash
qt-dab-4/linux-bin
qt-dab-4/build
qt-dab-4/Makefile
qt-dab-4/Output
qt-dab-5/linux-bin
qt-dab-5/build
qt-dab-5/Makefile
qt-dab-5/Output
dab-mini/linux-bin
dab-mini/Output
dab-mini/build
dab-mini/Makefile
dab-2/linux-bin
dab-2/Output
dab-2/build
dab-2/Makefile




