obsolete/
qt-dab-6.8/linux-bin
qt-dab-6.8/.qmake.stash
qt-dab-6.8/build
qt-dab-6.8/Makefile
qt-dab-6.8/Output
qt-dab-RC/linux-bin
qt-dab-RC/.qmake.stash
qt-dab-RC/build
qt-dab-RC/Makefile
qt-dab-RC.tgz






