[Desktop Entry]
Name=Qt_DAB-6.5Beta
Exec=qt-dab-6.5Beta
Icon=qt-dab-RC
Type=Application
Categories=AudioVideo;
Comment=A DAB/DAB+ decoder using Qt and C++
