[Desktop Entry]
Name=Qt6_DAB-6.9.2
Exec=qt-dab-6.9.2
Icon=qt-dab-6.9
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
