[Desktop Entry]
Name=Qt6_DAB-6.9.3
Exec=qt-dab-6.9.3
Icon=qt-dab-6.9
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
