[Desktop Entry]
Name=Qt_DAB-7.0
Exec=qt-dab-7.0
Icon=qt-dab-7.0
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
