[Desktop Entry]
Name=Qt_DAB-7.2
Exec=qt-dab-7.2
Icon=qt-dab-7.1.1
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
