[Desktop Entry]
Name=Qt6_DAB-6.9.6
Exec=qt-dab-6.9.6
Icon=qt-dab-6.9.5
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
