[Desktop Entry]
Name=Qt6_DAB-6.10
Exec=qt-dab-6.10
Icon=qt-dab-6.10
Type=Application
Categories=AudioVideo;
Comment=Probably the most extended DAB decoder
